Makefile
config.h
config.status
doc/Makefile
include/Makefile
include/speex/Makefile
include/speex/speex_config_types.h
libspeex/Makefile
src/Makefile
symbian/Makefile
ti/Makefile
ti/speex_C54_test/Makefile
ti/speex_C55_test/Makefile
ti/speex_C64_test/Makefile
win32/Makefile
win32/VS2003/Makefile
win32/VS2003/libspeex/Makefile
win32/VS2003/libspeexdsp/Makefile
win32/VS2003/speexdec/Makefile
win32/VS2003/speexenc/Makefile
win32/VS2003/tests/Makefile
win32/VS2005/Makefile
win32/VS2005/libspeex/Makefile
win32/VS2005/libspeexdsp/Makefile
win32/VS2005/speexdec/Makefile
win32/VS2005/speexenc/Makefile
win32/VS2005/tests/Makefile
win32/VS2008/Makefile
win32/VS2008/libspeex/Makefile
win32/VS2008/libspeexdsp/Makefile
win32/VS2008/speexdec/Makefile
win32/VS2008/speexenc/Makefile
win32/VS2008/tests/Makefile
win32/libspeex/Makefile
win32/speexdec/Makefile
win32/speexenc/Makefile
src/.libs/
src/speexdec
src/speexenc
