/src/speex/libspeex/.deps/
/src/speex/libspeex/.libs/
/src/speex/libspeex/testdenoise
/src/speex/libspeex/testecho
/src/speex/libspeex/testenc
/src/speex/libspeex/testenc_uwb
/src/speex/libspeex/testenc_wb
/src/speex/libspeex/testjitter
/src/speex/libtool
/src/speex/speex.pc
/src/speex/speexdsp.pc
/src/speex/src/.deps/
/src/speex/stamp-h1
/src/x264/.depend
/src/x264/tidx264
/src/x264/config.h
/src/x264/x264.pc
/src/snake
